* {
    margin: 0;
    box-sizing: border-box;
}

/* custom general properties */
:root {
    --clr-dark: #212121;
    --clr-light: #fafafa;
    --clr-grey: #757575; 
    --clr-gold: #FFD700; 
    
    /* pokémon types colors */
    --fire-clr: #F08030;
    --grass-clr: #78C850;
    --water-clr: #6890F0;
    --poison-clr: #A040A0;
    --flying-clr: #A890F0;
    --bug-clr: #A8B820;
    --normal-clr: #A8A878;
    --ground-clr: #E0C068;
    --electric-clr: #F8D030;
    --fighting-clr: #C03028;
    --psychic-clr: #F85888;
    --rock-clr: #B8A038;
    --ice-clr: #98D8D8;
    --fairy-clr:#EE99AC;
    --dragon-clr: #7038F8;
    --steel-clr: #B8B8D0;
    --ghost-clr: #705898;

}

body {
    width: 100vw;
    height: auto;

    background-color: var(--clr-grey);
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1.5rem 0 0 0;
}

/* General style to setup html section */
#app-container {   
    display: flexbox;

    background-color: var(--clr-dark);
}

#title-component{
    min-height: 100px;
    position: relative;

    background: url('../img/title.png') no-repeat center center;
    background-color: var(--clr-grey);
}

#main-content {
    display: flex;
    flex-flow: row nowrap;
}

#left-side {
    min-height: 600px;
    width: 15%;

    display: flex;
    flex-flow: column nowrap;

    background-color: var(--clr-grey);
}

#filter-component {
    min-height: 65%;    
}

#filter-component form {
    text-align: center;
}

#selected-item-component {
    min-height: 35%;
}

#selected-item-component * {
    text-align: center;
}

#selected-item-component h5 {
    text-transform: uppercase;
}

#selected-item-component img {
    width: 120px;
    height: 120px;
}

#main-component {
    width: 70%;
    padding: 1.5em 1.5em 0 1.5em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    /* debug */
    border: 3px solid var(--clr-light);
}


#img-component{
    width: 15%;

    background: url('../img/ash-ketchum.png') no-repeat center center;
    background-size: cover;
    background-color: var(--clr-grey);
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 600px;

    
    align-items: center;
}

/* override bootstrap properties */
.card {
    width: 200px;
    height: fit-content;
    margin-bottom: 1em;
    border: 2px solid var(--clr-dark);
    margin-right: 1.5em;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card h5 {
    text-transform: uppercase;
    text-align: center;

    color: var(--clr-dark);
    /* background-color: var(--clr-light); */
}

.card img {
    width: 150px;
    border-radius: 100px;
    /* border: 1px solid var(--clr-dark); */
    margin-top: 1em;

    background-color: var(--clr-grey);
}

.card a {
    color: var(--clr-light);
    background-color: var(--clr-grey);
    border: none;
}

#filter-component button {
    margin-top: 1.5em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.card a:hover {
    background-color: var(--clr-dark);
}

.card-body {
    display: flex;
    flex-flow: column wrap;
}

.page-link {
    color: var(--clr-light);
    background-color: var(--clr-grey);
}

.page-link:hover {
    color: var(--clr-dark);
}

li a.active {
    color: var(--clr-dark);
    background-color: var(--clr-light);
}