* {
    margin: 0;
    box-sizing: border-box;
}

/* custom general properties */
:root {
    --var-dark: #fff;
    --var-light: #fff;
    --var-grey: #fff;  
    
    /* pokémon types colors */
    --fire-clr: #F08030;
    --grass-clr: #78C850;
    --water-clr: #6890F0;
}

body {
    width: 100vw;
    height: auto;

    /* debug */
    background-color: chartreuse;
    border: 3px solid white;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1.5rem 0 0 0;
}

/* General style to setup html section */
#app-container {   
    display: flexbox;

    /* debug */
    background-color: aquamarine;
    border: 3px dotted black;
}

#title-component{
    min-height: 100px;
    position: relative;

    /* debug */
    background-color: yellowgreen;
}

#main-content {
    display: flex;
    flex-flow: row nowrap;

    /* debug */
    border: 3px dashed red;
}

#left-side {
    min-height: 600px;
    width: 20%;

    display: flex;
    flex-flow: column nowrap;

    /* debug */
    background-color: sandybrown;
}

#filter-component {
    min-height: 60%;
}

#selected-item-component {
    min-height: 40%;
}

#main-component {
    width: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.5em 1.5em 0 1.5em;

    /* debug */
    border: 3px solid whitesmoke;
}

#img-component{
    width: 15%;
}

/* override bootstrap properties */
.card {
    width: 200px;
    height: fit-content;
    margin-bottom: 1em;
    
    background: linear-gradient(135deg, rgba(240,128,48,1) 55%, rgba(104,144,240,1) 45%);
}

.card h5 {
    text-transform: uppercase;
    text-align: center;
}

.card img {
}

.card a {
    margin: 0 auto;
}

.card-body {
    display: flex;
    flex-flow: column wrap;
}