<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon test app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>        
    <div id="app-container">
        <!-- to replace with title component -->
        <div id="title-component">
            <h1>
                Select your Pokémon!
            </h1>
        </div>

        <div id="main-content">
            <div id="left-side">
                <!-- to replace with filter component -->
                <div id="filter-component">
                    <form @click.prevent="searchByType(filterObject.selectedType)">
                        <!-- <label for="filterByName">Search by name:</label>
                        <input type="text" name="filterByName" id="filterByName" placeholder="Type the name..."> -->

                        <div>
                            <label for="filterByType"><h3>Search by type:</h3></label>
                            <!-- <div>
                                <select name="filterByType" id="filterByType" multiple>
                                    <option v-for="type in types" value="type">{{type}}</option>
                                </select>
                            </div> -->

                            <div>
                                <select v-model="filterObject.selectedType">
                                    <option value="" disabled>Please select one</option>
                                    <option v-for="type in filterObject.types" :value="type">{{type}}</option>
                                    
                                </select>
                            </div>
                        </div>

                        <div>
                            <!-- <button class="btn btn-primary" @click="searchByType(filterObject.selectedType)">Search!</button> -->
                            <button class="btn btn-primary">Search!</button>
                        </div>
                    </form>
                </div>
        
                <!-- to replace with selected-item-component -->
                <div id="selected-item-component">
                    <div v-if="selectedPokemon != null">
                        <h3>Your Pokémon is:</h3>
                        <h5><strong>{{selectedPokemon.name}}</strong></h5>
                        <img :src="selectedPokemon.img" :alt="'img of ' + selectedPokemon.name">
                    </div>
                    <div v-else>
                        <h3>select a pokemon!</h3>
                    </div>
                </div>
            </div>
    
            <!-- to replace with main component -->
            <div id="main-component">
                <div class="card-container">
                    <div class="card" v-for="pokemon in pokemonList" :key="pokemon.id" :style="pokemon.backgroundStyles">
                        <img :src="pokemon.img" :alt="'image of ' + pokemon.name" class="card-img-top">                    
                        <div class="card-body">
                            <h5 class="card-title">
                                <strong>{{pokemon.name}}</strong>
                            </h5>
                            <a href="#" class="btn btn-primary" @click="selectPokemon(pokemon.id)">Select</a>
                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li>
                        <button class="page-link" href="#" aria-label="Previous" @click="previousPage" :disabled="pagingObject.isPreviousBtnDisabled">
                          <span aria-hidden="true">&laquo;</span>
                        </button>
                      </li>
                      <li v-for="n in pagingObject.totalPages" @click="goToPage(n)">
                          <a class="page-link" href="#" :class="{active: (n === pagingObject.currentPage)}">
                             {{ n }} 
                          </a>
                      </li>                      
                      <li>
                        <button class="page-link" href="#" aria-label="Next" @click="nextPage" :disabled="pagingObject.isNextBtnDisabled">
                          <span aria-hidden="true">&raquo;</span>
                        </button>
                      </li>
                    </ul>
                  </nav>
            </div>
    
            <!-- to replace with image component -->
            <div id="img-component">
                <p>img component section</p>
            </div>
        </div>
    </div>
    
    <script src="js/index.js"></script>
</body>
</html>